body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 12px;
    width: 220px;
    color: #333;
}

ul, li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul {
    -webkit-box-shadow: 0px 2px 1px rgba(0,0,0,0.14);
    position: relative;
    z-index: 2;
}

ul.recent {
    font-size: 11px;
    -webkit-box-shadow: none;
    z-index: 1;
}


ul.recent li a {
    padding: 5px 10px !important;    
}

li {
    border-bottom: 1px solid #f7f7f7;
}

li:last-child {
    border-bottom: none;
}

li a {
    cursor: pointer;
    display: block;
    padding: 10px;
    line-height: 18px;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: background-color 200ms linear;
    outline: none;
    text-decoration: none;
}

.recent li a {
    line-height: 14px;
}

a, a:active, a:visited {
    color: #555;
}

li a:hover {
    color: #000;
    background-color: #f7f7f7;
}

li img {
    vertical-align: middle;
    float: left;
    margin-right: 10px;
    position: relative;
    top: 1px;
}

li.title {
    font-weight: bold;
    padding: 5px 10px;
    line-height: 18px;
    border-top: 1px solid #aaa;
    background-color: #f7f7f7;
}